
*{
    margin: 0%;
    padding: 0%;
}
body{
    background:linear-gradient(to right, #ff00c8,#ff0077,#ea00ff,#0011ff );
}

h1{ 
    font-size: 70px;
  text-align: center;
    color:aliceblue;

}

p{
    font-size: 30px;
    color: aliceblue;
}
.cabecalho{
    background-color: rgb(255, 255, 255);
}
